@import "tailwindcss";

:root {
  --background: #e8e9fd;
  --primary: #6366f1;
  --secondary: #8b5cf6;
  --secondary-background: #ffffff;
  --neutral: #1f2937;
  --accent: #06b6d4;
  --stroke: #e3e6ea;
  --alert: #df3f40;
}
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-background: var(--secondary-background);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
  --color-stroke: var(--stroke);
  --color-alert: var(--alert);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1f3a;
    --primary: #818cf8;
    --secondary: #a78bfa;
    --secondary-background: #0f172a;
    --neutral: #f9fafb;
    --accent: #22d3ee;
    --stroke: #334155;
    --alert: #f87171;
  }
}

@keyframes animate-float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes animate-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .animate-float {
    animation: animate-float 6s ease-in-out infinite;
  }
  .animate-spin {
    animation: animate-spin 6s linear infinite;
  }

  .custom-gradient-bg::after {
    content: "";
    background-image: linear-gradient(
      var(--background),
      var(--accent) 70%,
      var(--background)
    );
    position: absolute;
    inset: 0;
    transform: skewY(-7deg);
    z-index: -1;
  }

  .custom-gradient-bg2::after {
    content: "";
    background-image: linear-gradient(
      var(--background),
      var(--stroke),
      var(--background)
    );
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
